{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "developer@gusto.com",
      "name": "Developer Relations"
    },
    "description": "Gusto App Integrations and Embedded Payroll API, assembled from the OpenAPI 3.1 snippets embedded in docs.gusto.com reference pages.",
    "termsOfService": "https://gusto.com/about/terms/developer-terms-of-service",
    "title": "Gusto API",
    "version": "2026-06-15"
  },
  "servers": [
    {
      "url": "https://api.gusto.com",
      "description": "Production"
    },
    {
      "url": "https://api.gusto-demo.com",
      "description": "Demo"
    }
  ],
  "security": [
    {
      "CompanyAccessAuth": []
    }
  ],
  "tags": [
    {
      "name": "ACH Transactions"
    },
    {
      "name": "Bank Accounts"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Company Attachment"
    },
    {
      "name": "Company Benefits"
    },
    {
      "name": "Company Forms"
    },
    {
      "name": "Contractor Documents"
    },
    {
      "name": "Contractor Forms"
    },
    {
      "name": "Contractor Payment Groups"
    },
    {
      "name": "Contractor Payment Method"
    },
    {
      "name": "Contractor Payments"
    },
    {
      "name": "Contractors"
    },
    {
      "name": "Departments"
    },
    {
      "name": "Earning Types"
    },
    {
      "name": "Employee Addresses"
    },
    {
      "name": "Employee Benefits"
    },
    {
      "name": "Employee Employments"
    },
    {
      "name": "Employee Forms"
    },
    {
      "name": "Employee Payment Method"
    },
    {
      "name": "Employee Tax Setup"
    },
    {
      "name": "Employees"
    },
    {
      "name": "Events"
    },
    {
      "name": "External Payrolls"
    },
    {
      "name": "Federal Tax Details"
    },
    {
      "name": "Garnishments"
    },
    {
      "name": "Generated Documents"
    },
    {
      "name": "Holiday Pay Policies"
    },
    {
      "name": "I-9 Verification"
    },
    {
      "name": "Industry Selection"
    },
    {
      "name": "Information Requests"
    },
    {
      "name": "Introspection"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Jobs and Compensations"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Member Portal Invitations"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Pay Schedules"
    },
    {
      "name": "Payment Configs"
    },
    {
      "name": "Payroll Cancellations"
    },
    {
      "name": "Payroll Digests"
    },
    {
      "name": "Payrolls"
    },
    {
      "name": "People Batches"
    },
    {
      "name": "Recovery Cases"
    },
    {
      "name": "Reimbursements"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Reverse Wire Transactions"
    },
    {
      "name": "Salary Estimates"
    },
    {
      "name": "Signatories"
    },
    {
      "name": "Tax Payments"
    },
    {
      "name": "Tax Requirements"
    },
    {
      "name": "Time Off Policies"
    },
    {
      "name": "Time Off Requests"
    },
    {
      "name": "Time Tracking"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Wire In Requests"
    }
  ],
  "paths": {
    "/oauth/revoke": {
      "post": {
        "description": "Revokes the given access token. After revoking, this token can no longer be used to make requests nor can it be refreshed.",
        "operationId": "revoke-access-token",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "properties": {
                  "client_id": {
                    "description": "Your client id",
                    "type": "string"
                  },
                  "client_secret": {
                    "description": "Your client secret",
                    "type": "string"
                  },
                  "token": {
                    "description": "The access token that will be revoked.",
                    "type": "string"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "token"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [],
        "summary": "Revoke access token",
        "tags": [
          "Introspection"
        ],
        "x-gusto-integration-type": [
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/oauth/token": {
      "post": {
        "description": "Creates a system access token or refreshes an oauth access token",
        "operationId": "oauth-access-token",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "properties": {
                      "client_id": {
                        "description": "Your client ID",
                        "example": "qr6L_9FRkbMVL_GdwvrMW6Ef8tcU6NUxjWpOfqXqOG8",
                        "type": "string"
                      },
                      "client_secret": {
                        "description": "Your client secret",
                        "example": "3aQSHRB3596nZhm6NdNBELZ1u9xbZmvCrKpBhbZYq6w",
                        "type": "string"
                      },
                      "grant_type": {
                        "description": "Set system_access to create a system access token, refresh_token to refresh an existing token",
                        "enum": [
                          "refresh_token"
                        ],
                        "type": "string"
                      },
                      "redirect_uri": {
                        "description": "The redirect URI you set up via the Developer Portal",
                        "type": "string"
                      },
                      "refresh_token": {
                        "descrition": "The refresh token being exchanged for an access token code",
                        "example": "iEjL96L9Pndwmi-xVX3Q-xbrvvhnjHYGX87sopgGJ8E",
                        "type": "string"
                      }
                    },
                    "required": [
                      "client_id",
                      "client_secret",
                      "grant_type",
                      "refresh_token"
                    ],
                    "title": "Refresh Token Request",
                    "type": "object"
                  },
                  {
                    "properties": {
                      "client_id": {
                        "description": "Your client ID",
                        "example": "qr6L_9FRkbMVL_GdwvrMW6Ef8tcU6NUxjWpOfqXqOG8",
                        "type": "string"
                      },
                      "client_secret": {
                        "description": "Your client secret",
                        "example": "3aQSHRB3596nZhm6NdNBELZ1u9xbZmvCrKpBhbZYq6w",
                        "type": "string"
                      },
                      "grant_type": {
                        "description": "Set system_access to create a system access token, refresh_token to refresh an existing token",
                        "enum": [
                          "system_access"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "client_id",
                      "client_secret",
                      "grant_type"
                    ],
                    "title": "System Access Token Request",
                    "type": "object"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "create_token": {
                    "value": {
                      "$ref": "#/components/schemas/Authentication/x-examples/create_token"
                    }
                  },
                  "refresh_token": {
                    "value": {
                      "$ref": "#/components/schemas/Authentication/x-examples/refresh_token"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Authentication"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [],
        "summary": "Create a System Access Token or Refresh an Access Token",
        "tags": [
          "Introspection"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/benefits": {
      "get": {
        "description": "Returns all benefits supported by Gusto. The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.\n\nscope: `benefits:read`",
        "operationId": "get-v1-benefits",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "full_catalog": {
                    "value": {
                      "$ref": "#/components/schemas/Supported-Benefit-List/x-examples/full_catalog"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Supported-Benefit-List"
                }
              }
            },
            "description": "Successful"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get all supported benefits",
        "tags": [
          "Company Benefits"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/benefits/{benefit_id}": {
      "get": {
        "description": "Returns a benefit supported by Gusto. The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.\n\nscope: `benefits:read`",
        "operationId": "get-v1-benefits-benefit_id",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The benefit type in Gusto.",
            "in": "path",
            "name": "benefit_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "$ref": "#/components/schemas/Supported-Benefit/x-examples/Example"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Supported-Benefit"
                }
              }
            },
            "description": "Successful"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get a supported benefit",
        "tags": [
          "Company Benefits"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/benefits/{benefit_id}/requirements": {
      "get": {
        "description": "Returns the field requirements for a given benefit type.\n\nscope: `benefits:read`",
        "operationId": "get-v1-benefits-benefits_id-requirements",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The benefit type in Gusto.",
            "in": "path",
            "name": "benefit_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "$ref": "#/components/schemas/Benefit-Type-Requirements/x-examples/Example"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Benefit-Type-Requirements"
                }
              }
            },
            "description": "Successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get benefit fields requirements by benefit type",
        "tags": [
          "Company Benefits"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/bulk_reports": {
      "post": {
        "description": "Triggers asynchronous generation of up to 25 reports across companies the partner is mapped to. Each `batch` item is a `custom_report` (same parameters as [create a custom report](https://docs.gusto.com/embedded-payroll/reference/post-companies-company_uuid-reports)) or a `general_ledger` report (same parameters as [create a general ledger report](https://docs.gusto.com/embedded-payroll/reference/post-payrolls-payroll_uuid-reports-general_ledger)), keyed by `company_uuid` and `report_type`. Items are validated synchronously; if any is invalid, the entire batch is rejected.\n\nPoll the [bulk report GET endpoint](https://docs.gusto.com/embedded-payroll/reference/get-v1-bulk_reports-request_uuid) with the returned `uuid` for status and the report URL, which is valid for 10 minutes.\n\n📘 System Access Authentication\n\nThis endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)\n\nscope: `company_reports:write`",
        "operationId": "post-v1-bulk_reports",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bulk-Report-Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "pending": {
                    "value": {
                      "$ref": "#/components/schemas/Create-Bulk-Report/x-examples/pending"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Create-Bulk-Report"
                }
              }
            },
            "description": "Created"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "bulk_report_invalid_report_type": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/bulk_report_invalid_report_type"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "SystemAccessAuth": []
          }
        ],
        "summary": "Create a bulk report batch",
        "tags": [
          "Reports"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/bulk_reports/{request_uuid}": {
      "get": {
        "description": "Get a bulk report batch's status and results given the `request_uuid`. While in progress, only batch metadata is returned; once complete, it also includes a signed `report_url` (a zip of all generated reports, valid for 10 minutes) and a per-company breakdown.\n\nReports containing PHI are inaccessible with `company_reports:read:tier_2_only` data scope.\n\n📘 System Access Authentication\n\nThis endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)\n\nscope: `company_reports:read`",
        "operationId": "get-v1-bulk_reports-request_uuid",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the bulk report batch.",
            "in": "path",
            "name": "request_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "pending": {
                    "value": {
                      "$ref": "#/components/schemas/Bulk-Report/x-examples/pending"
                    }
                  },
                  "success": {
                    "value": {
                      "$ref": "#/components/schemas/Bulk-Report/x-examples/success"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Bulk-Report"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "SystemAccessAuth": []
          }
        ],
        "summary": "Get a bulk report batch",
        "tags": [
          "Reports"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}": {
      "get": {
        "description": "Get a company.\n\nThe employees:read scope is required to return home_address and non-work locations.\nThe company_admin:read scope is required to return primary_payroll_admin.\nThe signatories:read scope is required to return primary_signatory.\n\nscope: `companies:read`",
        "operationId": "get-v1-companies",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get a company",
        "tags": [
          "Companies"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      },
      "put": {
        "description": "Update a company.\n\nscope: `companies:write`",
        "operationId": "put-v1-companies",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contractor_only": {
                    "description": "Whether the company only supports contractors. Must be updated in order for the company to start supporting W-2 employees. Can only be updated from true to false. Note that updating this value will require additional onboarding steps to be completed in order for the company to support W-2 employees.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "contractor_only"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "Successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "company_cannot_enable_contractor_only": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_cannot_enable_contractor_only"
                    }
                  },
                  "company_missing_parameter": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_missing_parameter"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Update a company",
        "tags": [
          "Companies"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/admins": {
      "get": {
        "description": "Returns a list of all the admins at a company\n\nscope: `company_admin:read`",
        "operationId": "get-v1-companies-company_id-admins",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of objects per page. For majority of endpoints will default to 25",
            "in": "query",
            "name": "per",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "$ref": "#/components/schemas/Admin/x-examples/Example"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Admin"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get all the admins at a company",
        "tags": [
          "Companies"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      },
      "post": {
        "description": "Creates a new admin for a company.\nIf the email matches an existing user, this will create an admin account for the current user. Otherwise, this will create a new user.\n\nscope: `company_admin:write`",
        "operationId": "post-v1-companies-company_id-admins",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Admin-Create-Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "$ref": "#/components/schemas/Admin/x-examples/Example"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Admin"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "admin_duplicate_email": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/admin_duplicate_email"
                    }
                  },
                  "admin_missing_required_field": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/admin_missing_required_field"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Create an admin for the company",
        "tags": [
          "Companies"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/attachments": {
      "get": {
        "description": "Retrieve a list of all the attachments uploaded by the company.\n\n### Related guides\n- [Manage company attachments](https://docs.gusto.com/embedded-payroll/docs/manage-company-attachments)\n\nscope: `company_attachments:read`",
        "operationId": "get-v1-companies-attachments",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": [
                      {
                        "$ref": "#/components/schemas/Company-Attachment/x-examples/success_status"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Company-Attachment"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get List of Company Attachments",
        "tags": [
          "Company Attachment"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      },
      "post": {
        "description": "Upload a file and create a company attachment. We recommend uploading PDF files for optimal compatibility. However, the following file types are allowed: .qbb, .qbm, .gif, .jpg, .png, .pdf, .xls, .xlsx, .doc and .docx.\n\n### Related guides\n- [Manage company attachments](https://docs.gusto.com/embedded-payroll/docs/manage-company-attachments)\n\nscope: `company_attachments:write`",
        "operationId": "post-v1-companies-attachment",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Company-Attachment-Create-Request-Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Attachment/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Attachment"
                }
              }
            },
            "description": "Created"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "company_attachment_invalid_category": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_attachment_invalid_category"
                    }
                  },
                  "company_attachment_invalid_file_type": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_attachment_invalid_file_type"
                    }
                  },
                  "company_attachment_missing_document": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_attachment_missing_document"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Create Company Attachment and Upload File",
        "tags": [
          "Company Attachment"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/attachments/{company_attachment_uuid}": {
      "get": {
        "description": "Retrieve the detail of an attachment uploaded by the company.\n\n### Related guides\n- [Manage company attachments](https://docs.gusto.com/embedded-payroll/docs/manage-company-attachments)\n\nscope: `company_attachments:read`",
        "operationId": "get-v1-companies-attachment",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company attachment",
            "in": "path",
            "name": "company_attachment_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Attachment/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Attachment"
                }
              }
            },
            "description": "Successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get Company Attachment Details",
        "tags": [
          "Company Attachment"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/attachments/{company_attachment_uuid}/download_url": {
      "get": {
        "description": "Retrieve a temporary url to download an attachment file uploaded by the company.\n\n### Related guides\n- [Manage company attachments](https://docs.gusto.com/embedded-payroll/docs/manage-company-attachments)\n\nscope: `company_attachments:read`",
        "operationId": "get-v1-companies-attachment-url",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company attachment",
            "in": "path",
            "name": "company_attachment_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Attachment-Download-Url/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Attachment-Download-Url"
                }
              }
            },
            "description": "Successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get a temporary url to download the Company Attachment file",
        "tags": [
          "Company Attachment"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/bank_accounts": {
      "get": {
        "description": "Returns company bank accounts. Currently, we only support a single default bank account per company.\n\nscope: `company_bank_accounts:read`",
        "operationId": "get-v1-companies-company_id-bank-accounts",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": [
                      {
                        "$ref": "#/components/schemas/Company-Bank-Account/x-examples/success_status"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Company-Bank-Account"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get all company bank accounts",
        "tags": [
          "Bank Accounts"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      },
      "post": {
        "description": "This endpoint creates a new company bank account.\n\nUpon being created, two verification deposits are automatically sent to the bank account, and the bank account's verification_status is 'awaiting_deposits'.\n\nWhen the deposits are successfully transferred, the verification_status changes to 'ready_for_verification', at which point the verify endpoint can be used to verify the bank account.\nAfter successful verification, the bank account's verification_status is 'verified'.\n\n\n>🚧 Warning\n>\n> If a default bank account exists, it will be disabled and the new bank account will replace it as the company's default funding method.\n\nscope: `company_bank_accounts:write`",
        "operationId": "post-v1-companies-company_id-bank-accounts",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company-Bank-Account-Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Bank-Account/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Bank-Account"
                }
              }
            },
            "description": "Bank account unchanged"
          },
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Bank-Account/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Bank-Account"
                }
              }
            },
            "description": "created"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "bank_account_missing_routing": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/bank_account_missing_routing"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Invalid Attribute"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Create a company bank account",
        "tags": [
          "Bank Accounts"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/bank_accounts/{bank_account_id}": {
      "delete": {
        "description": "This endpoint disables a company bank account.\n\nA bank account cannot be disabled if it is used for any unprocessed payments.\n\nscope: `company_bank_accounts:write`",
        "operationId": "delete-v1-companies-company_id-bank-accounts-bank_account_id",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company bank account",
            "in": "path",
            "name": "bank_account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "bank_account_delete_unfunded_payments": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/bank_account_delete_unfunded_payments"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Cannot delete bank account with unfunded payments"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Delete a company bank account",
        "tags": [
          "Bank Accounts"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/bank_accounts/{bank_account_uuid}/verify": {
      "put": {
        "description": "Verify a company bank account by confirming the two micro-deposits sent to the bank account.\n\nNote that the order of the two deposits specified in request parameters does not matter.\nThere's a maximum of 5 verification attempts, after which we will automatically initiate a new set of micro-deposits and require the bank account to be verified with the new micro-deposits.\n\n### Bank account verification in demo\nIn the demo environment, use the `POST /v1/companies/{company_id}/bank_accounts/{bank_account_uuid}/send_test_deposits` endpoint to simulate the micro-deposits transfer and return the two amounts in the response. You can call this endpoint as many times as you wish to retrieve the values of the two micro-deposits.\n\n### Webhooks\n- `company.bank_account.verified`: Fires when the company bank account is successfully verified.\n\n### Related guides\n- [Manage company bank accounts](https://docs.gusto.com/embedded-payroll/docs/manage-company-bank-accounts)\n- [Bank Account Events](https://docs.gusto.com/embedded-payroll/docs/bank-account-events)\n\nscope: `company_bank_accounts:write`",
        "operationId": "put-v1-companies-company_id-bank-accounts-verify",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company bank account",
            "in": "path",
            "name": "bank_account_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company-Bank-Account-Verify-Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success_status": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Bank-Account/x-examples/success_status"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Bank-Account"
                }
              }
            },
            "description": "Successful"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "bank_account_verify_already_verified": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/bank_account_verify_already_verified"
                    }
                  },
                  "bank_account_verify_incorrect_deposits": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/bank_account_verify_incorrect_deposits"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Verify a company bank account",
        "tags": [
          "Bank Accounts"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/company_benefits": {
      "get": {
        "description": "Company benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.\n\nNote that company benefits can be deactivated only when no employees are enrolled.\n\nBenefits containing PHI are only visible to applications with the `company_benefits:read:phi` scope.\n\nscope: `company_benefits:read`",
        "operationId": "get-v1-companies-company_id-company_benefits",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the benefit is currently active",
            "in": "query",
            "name": "active",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to return employee enrollment count",
            "in": "query",
            "name": "enrollment_count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter by benefit type. Comma-separated list of benefit type IDs, i.e. `?benefit_type=5,105`",
            "in": "query",
            "name": "benefit_type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "$ref": "#/components/schemas/Company-Benefit/x-examples/Example"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Company-Benefit"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Example response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get benefits for a company",
        "tags": [
          "Company Benefits"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      },
      "post": {
        "description": "Company benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.\n\nNote that company benefits can be deactivated only when no employees are enrolled.\n\nWhen the application has the `company_benefits:write:benefit_type_limited` data scope, the application can only create company benefits for benefit types that are permitted for the application.\n\nscope: `company_benefits:write`",
        "operationId": "post-v1-companies-company_id-company_benefits",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company-Benefit-Create-Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "$ref": "#/components/schemas/Company-Benefit/x-examples/Example"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Company-Benefit"
                }
              }
            },
            "description": "Created"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided UUID is valid.\n"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "company_benefit_invalid_benefit_type": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_benefit_invalid_benefit_type"
                    }
                  },
                  "company_benefit_missing_benefit_type": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_benefit_missing_benefit_type"
                    }
                  },
                  "company_benefit_missing_description": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/company_benefit_missing_description"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Create a company benefit",
        "tags": [
          "Company Benefits"
        ],
        "x-gusto-integration-type": [
          "embedded",
          "app-integrations"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/contractor_payment_groups": {
      "get": {
        "description": "Returns a list of minimal contractor payment groups within a given time period, including totals but not associated contractor payments.\n\nscope: `payrolls:read`",
        "operationId": "get-v1-companies-company_id-contractor_payment_groups",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The time period for which to retrieve contractor payment groups. Defaults to 6 months ago.",
            "example": "2020-01-01",
            "in": "query",
            "name": "start_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The time period for which to retrieve contractor payment groups. Defaults to today's date.",
            "example": "2020-12-31",
            "in": "query",
            "name": "end_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of objects per page. For majority of endpoints will default to 25",
            "in": "query",
            "name": "per",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "value": [
                      {
                        "$ref": "#/components/schemas/Contractor-Payment-Group-With-Blockers/x-examples/success"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Contractor-Payment-Group-With-Blockers"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of Contractor Payment Groups"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested company does not exist. Make sure the provided UUID is valid.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Get contractor payment groups for a company",
        "tags": [
          "Contractor Payment Groups"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      },
      "post": {
        "description": "Pay a group of contractors. Information needed depends on the contractor's wage type (hourly vs fixed)\n\nscope: `payrolls:run`",
        "operationId": "post-v1-companies-company_id-contractor_payment_groups",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "check_date": {
                    "description": "The payment check date",
                    "example": "2020-01-01",
                    "format": "date",
                    "type": "string"
                  },
                  "contractor_payments": {
                    "items": {
                      "properties": {
                        "bonus": {
                          "description": "If the contractor is on an hourly wage, this is the bonus the contractor earned",
                          "example": "500.0",
                          "format": "float",
                          "type": "string"
                        },
                        "contractor_uuid": {
                          "description": "The contractor receiving the payment",
                          "type": "string"
                        },
                        "hours": {
                          "description": "If the contractor is on an hourly wage, this is the number of hours that the contractor worked for the payment",
                          "example": "40.0",
                          "format": "float",
                          "type": "string"
                        },
                        "invoice_number": {
                          "description": "An optional invoice number to associate with this contractor payment. This will be visible to the contractor on their paystub.",
                          "example": "INV-001",
                          "maxLength": 25,
                          "type": "string"
                        },
                        "memo": {
                          "description": "An optional note or memo for this contractor payment. This will be visible to the contractor on their paystub.",
                          "example": "Payment for consulting services",
                          "type": "string"
                        },
                        "payment_method": {
                          "default": "Direct Deposit",
                          "enum": [
                            "Direct Deposit",
                            "Check",
                            "Historical Payment"
                          ],
                          "type": "string"
                        },
                        "reimbursement": {
                          "description": "Reimbursed wages for the contractor",
                          "example": "20.0",
                          "format": "float",
                          "type": "string"
                        },
                        "wage": {
                          "description": "If the contractor is on a fixed wage, this is the fixed wage payment for the contractor, regardless of hours worked",
                          "example": "5000.0",
                          "format": "float",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "creation_token": {
                    "description": "A token used to make contractor payment group creation idempotent. The string must be unique for each group you intend to create.",
                    "example": "1d532d13-8f61-4a57-ad3c-b5fac1c6e05e",
                    "type": "string"
                  },
                  "submission_blockers": {
                    "description": "Optional array of submission blockers with selected unblock options. Returned from the preview endpoint and can be submitted with selected_option to resolve blockers.",
                    "items": {
                      "properties": {
                        "blocker_type": {
                          "description": "The type of blocker that is blocking the payment submission",
                          "type": "string"
                        },
                        "message": {
                          "description": "Optional message related to the blocker",
                          "type": "string"
                        },
                        "options": {
                          "description": "Optional array of additional options for the blocker",
                          "items": {
                            "properties": {
                              "message": {
                                "description": "Message for the option",
                                "type": "string"
                              },
                              "type": {
                                "description": "The type of option",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "selected_option": {
                          "description": "The unblock option selected to resolve the submission blocker",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "check_date",
                  "contractor_payments",
                  "creation_token"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "With submission blockers": {
                    "value": {
                      "$ref": "#/components/schemas/Contractor-Payment-Group/x-examples/With submission blockers"
                    }
                  },
                  "success": {
                    "value": {
                      "$ref": "#/components/schemas/Contractor-Payment-Group/x-examples/success"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Contractor-Payment-Group"
                }
              }
            },
            "description": "Full contractor payment group object"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested company does not exist. Make sure the provided UUID is valid.\n"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "basic": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/basic"
                    }
                  },
                  "nested": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/nested"
                    }
                  },
                  "resource": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/resource"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Create a contractor payment group",
        "tags": [
          "Contractor Payment Groups"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/contractor_payment_groups/preview": {
      "post": {
        "description": "Preview a group of contractor payments. Request will validate inputs and return preview of the contractor payment group including the expected `debit_date`. The `uuid` field will be null in the response.\n\nThe returned `creation_token` is a required parameter in order to create the contractor payment group.\n\nscope: `payrolls:read`",
        "operationId": "post-v1-companies-company_id-contractor_payment_groups-preview",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "check_date": {
                    "description": "Date when payments should be processed",
                    "format": "date",
                    "type": "string"
                  },
                  "contractor_payments": {
                    "items": {
                      "properties": {
                        "bonus": {
                          "description": "If the contractor is on an hourly wage, this is the bonus the contractor earned",
                          "example": "500.0",
                          "format": "float",
                          "type": "string"
                        },
                        "contractor_uuid": {
                          "description": "The contractor receiving the payment",
                          "type": "string"
                        },
                        "hours": {
                          "description": "If the contractor is on an hourly wage, this is the number of hours that the contractor worked for the payment",
                          "example": "40.0",
                          "format": "float",
                          "type": "string"
                        },
                        "invoice_number": {
                          "description": "An optional invoice number to associate with this contractor payment. This will be visible to the contractor on their paystub.",
                          "example": "INV-001",
                          "maxLength": 25,
                          "type": "string"
                        },
                        "memo": {
                          "description": "An optional note or memo for this contractor payment. This will be visible to the contractor on their paystub.",
                          "example": "Payment for consulting services",
                          "type": "string"
                        },
                        "payment_method": {
                          "default": "Direct Deposit",
                          "enum": [
                            "Direct Deposit",
                            "Check",
                            "Historical Payment"
                          ],
                          "type": "string"
                        },
                        "reimbursement": {
                          "description": "Reimbursed wages for the contractor",
                          "example": "20.0",
                          "format": "float",
                          "type": "string"
                        },
                        "wage": {
                          "description": "If the contractor is on a fixed wage, this is the fixed wage payment for the contractor, regardless of hours worked",
                          "example": "5000.0",
                          "format": "float",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "contractor_payments"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "With submission blockers": {
                    "value": {
                      "$ref": "#/components/schemas/Contractor-Payment-Group-Preview/x-examples/With submission blockers"
                    }
                  },
                  "success": {
                    "value": {
                      "$ref": "#/components/schemas/Contractor-Payment-Group-Preview/x-examples/success"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Contractor-Payment-Group-Preview"
                }
              }
            },
            "description": "Full contractor payment group object with null uuid"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "value": {
                      "$ref": "#/components/schemas/Not-Found-Error-Object/x-examples/not_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Not-Found-Error-Object"
                }
              }
            },
            "description": "Not Found\n\nThe requested resource does not exist. Make sure the provided ID/UUID is valid.\n"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "basic": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/basic"
                    }
                  },
                  "nested": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/nested"
                    }
                  },
                  "resource": {
                    "value": {
                      "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object/x-examples/resource"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Unprocessable-Entity-Error-Object"
                }
              }
            },
            "description": "Unprocessable Entity\n\nThis may happen when the body of your request contains errors such as `invalid_attribute_value`, or the request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories) guide for more details.\n"
          }
        },
        "security": [
          {
            "CompanyAccessAuth": []
          }
        ],
        "summary": "Preview a contractor payment group",
        "tags": [
          "Contractor Payment Groups"
        ],
        "x-gusto-integration-type": [
          "embedded"
        ],
        "x-gusto-rswag": true
      }
    },
    "/v1/companies/{company_id}/contractor_payments": {
      "get": {
        "description": "Returns an object containing individual contractor payments, within a given time period, including totals.\n\nResults are returned in reverse chronological order (newest first).\n\nscope: `payrolls:read`",
        "operationId": "get-v1-companies-company_id-contractor_payments",
        "parameters": [
          {
            "description": "Determines the date-based API version associated with your API call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version) is used.",
            "in": "header",
            "name": "X-Gusto-API-Version",
            "schema": {
              "default": "2026-06-15",
              "enum": [
                "2026-06-15"
              ],
              "type": "string"
            }
          },
          {
            "description": "The UUID of the company",
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The time period for which to retrieve contractor payments",
            "example": "2020-01-01",
            "in": "query",
            "name": "start_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The time period for which to retrieve contractor payments. If left empty, defaults to today's date.",
            "example": "2020-12-31",
            "in": "query",
            "name": "end_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The UUID of the contractor. When specified, will load all payments for that contractor.",
            "in": "query",
            "name": "contractor_uuid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Display contractor payments results group by check date if set to true.",
            "in": "query",
            "name": "group_by_date",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of objects per page. For majority of endpoints will default to 25",
            "in": "query",
            "name": "per",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "by_contractor": {
                    "value": {
[...]
